<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">Sign Up </h2>


    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" id="username" class="fadeIn second" formControlName="username" placeholder="Tên tài khoản">
      <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="Mật khẩu">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
