<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <h2>Cập nhật sản phẩm</h2>
  <br>
  <div class="mb-3">
    <label for="disabledSelect" class="form-label">Loại sản phẩm</label>
    <select id="disabledSelect" class="form-select" formControlName="categoryId">
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Ảnh sản phẩm</label>
    <img *ngFor="let img of imageUrl" src="http://localhost:8080/image/{{img.image}}" style="width: 150px; height: auto">
    <a class="btn" style="color: red" (click)="deleteAllImageByProductId()">Xóa hết ảnh</a>

    <a class="btn" style="color: blue" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModalWithClass(template)" >Chỉnh sửa ảnh</a>
    <br>
    <label for="image" class="form-label">Thêm ảnh</label>

    <input type="file" class="form-control" multiple id="image" value="Thêm ảnh" (change)="changeFile($event)">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Tên sản phẩm</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.name?.errors?.required && productForm.controls.name?.touched">
    Không được để trống!
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.name?.errors && productForm.controls.name?.touched">
    Tối thiểu 3 ký tự!
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Giá sản phẩm</label>
    <input type="number" class="form-control" id="price" formControlName="price">
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.price?.errors?.required && productForm.controls.price?.touched">
    Không được để trống!
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.price?.errors && productForm.controls.price?.touched">
    Giá tối thiểu là 1000(VNĐ)!
  </div>
  <div class="mb-3">
    <label for="quantity" class="form-label">Số lượng sản phẩm</label>
    <input type="number" class="form-control" id="quantity" formControlName="quantity">
  </div>

  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.quantity?.errors?.required && productForm.controls.quantity?.touched">
    Không được để trống!
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.quantity?.errors && productForm.controls.quantity?.touched">
    Số lượng tối thiểu là 1!
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả sản phẩm</label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>

  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.description?.errors?.required && productForm.controls.description?.touched">
    Không được để trống!
  </div>
  <div class="col alert alert-danger" role="alert"
       *ngIf="productForm.controls.description?.errors && productForm.controls.description?.touched">
    Tối thiểu 6 ký tự!
  </div>
  <button type="submit" class="btn btn-success">Cập nhật</button>
</form>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ảnh sản phẩm</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let img of images"><img src="http://localhost:8080/image/{{img.image}}" style="width: 100px; height: auto"><span>
        <a class="btn" (click)="deleteImage(img.id)">Xóa</a>
      </span></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>


