
<table class="table">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Ảnh sản phẩm</th>
    <th scope="col" colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let img of images; index as i">
    <th scope="row">{{i+1}}</th>
    <td><img  src="http://localhost:8080/image/{{img.image}}"  style="width: 100px; height: auto; border-radius: 50%"></td>

    <td><a [routerLink]="['/image/edit', img.id]" >
      <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button></a></td>
    <td><a [routerLink]="['/image/delete', img.id]" >
      <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a></td>
  </tr>

  </tbody>
</table>


